 body {
             background-color: gray;
             font-family: Arial, sans-serif;
             margin: 0;
             padding: 20px;
             color: white;
}
header {
            margin-bottom: 30px;
}
section {
            margin-bottom: 20px;
}
h1, h2 {
            margin-bottom:20px;
}

            
             
